<div class="card">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-body">
    <p class="card-text">
      {{blog_text}}
    </p>
    <a href="/post/{{id}}" class="btn btn-primary">View comments</a>
  </div>
</div>