<main class="container">
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand">VistaBlog</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <!-- Only show option if user is logged in -->
        {{#if loggedIn}}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/write">New
              Post</a>
          </li>
        {{/if}}
      </ul>
      <div class="d-flex">
        <button class="btn btn-outline-success" type="submit">
          {{#if loggedIn}}
            <a href="/logout">Logout</a>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </button>
      </div>
    </div>
    {{#each posts as |post|}}
        {{> post-details}}
    {{/each}}
  </nav>
</main>